{% if messages %}
{% for message in messages %}

{% if message.tags == "success" %}
<script>
    $('document').ready(function () {
        alertify.success('{{message}}');
    });
</script>
{% endif %}

{% if message.tags == "error" %}
<script>
    $('document').ready(function () {
        alertify.error('{{message}}');
    });
</script>
{% endif %}

{% if message.tags == "warning" %}
<script>
    $('document').ready(function () {
        alertify.confirm('Delete Comment', '{{message}}', function () {
            alertify.success('Ok')
        }, function () {
            alertify.error('Cancel')
        });
    });
</script>
{% endif %}

{% endfor %}

{% endif %}